Source: openbosniana-control-center
Section: utils
Priority: optional
Maintainer: Denis Maslo <deni@bosniana.org>
Build-Depends: debhelper-compat (= 13), gettext
Standards-Version: 4.6.2

Package: openbosniana-control-center
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OB Control Center
 A control center application for OpenBosniana, supporting multiple translations.

