#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Run the Makefile in the source directory
	make install DESTDIR=$(CURDIR)/debian/openbosniana-control-center PREFIX=/usr
	find $(CURDIR)/debian/openbosniana-control-center/usr/share/ob-control-center -type f -name "*.htm" -exec chmod +x {} \;
	find $(CURDIR)/debian/openbosniana-control-center/usr/share/ob-control-center/apps -type f -name "*.run" -exec chmod +x {} \;
