@import url('fonts.css');
*,:after,:before{
  box-sizing:inherit;
  margin:0;
  padding:0;
}
h1 {
  font-weight: normal;
  cursor:default;
}
h2 {
  font-weight: 300;
  margin-top: 0;
  font-size:1.15em;
  cursor:default;
}
a {
  color: inherit;
  cursor:default;
}
.button {
  appearance: none;
  border-radius: 0.25em;
  color: inherit;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 0.95em;
  font-weight: normal;
  padding: 0.5em 1em;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor:default;
}
.button:hover {
  background-color: rgba(150, 150, 150, 0.125);
  text-decoration: none;
  cursor:default;
}

.home h1 {
  color: var(--accent);
  font-family: "Nunito", sans-serif;
  font-size: 3em;
  font-weight: 900;
  cursor:default;
}
.home.apps {
  display: grid;
  grid-template-columns: repeat(auto-fill, 111px);
  margin: 0 1em;
  justify-content: space-between;
  max-width: 1000px;
  width: 95vw;
  cursor:default;
}
.home.apps .app {
  box-shadow: 0px 6px 24px 0px transparent, inset 0px 0px 0px 1px transparent,
    inset 0px 1px 0px 1px rgba(255, 255, 255, 0);
  font-weight: normal;
  margin: 0.5em 0;
  padding: 1em 0.5em;
  text-align: left;
  transition: all 200ms ease;
  vertical-align: top;
  width: 111px;
  cursor:default;
}
.home.apps .app:hover,
.home.apps .app:focus {
  cursor:default;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.125)
  );
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25),
    inset 0px 1px 0px 1px rgba(255, 255, 255, 0.25);
}
.home.apps .app img {
  display: block;
  height: 40px;
  margin: 0 auto 0.5em;
  width: 40px;
  cursor:default;
}
.home.apps .app .title {
  display: block;
  text-align: center;
  cursor:default;
}
.home.apps .app .summary {
  display: none;
  cursor:default;
}

.home .action {
  text-align: center;
  cursor:default;
}
:root {
  color-scheme: light dark;
  --bg: #333333;
  --fg:  white;
  --accent: #109dc0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333333;
    --fg: white;
    --accent: #109dc0;
  }
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  cursor:default;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  cursor:default;
}
.constrain {
  max-width: 800px;
  margin:0 1em;
  cursor:default;
}
.main {
  padding: 0.5em;
  cursor:default;
}
.linediv{
  height:1px;
  background-color:rgba(255, 255, 255, 0.25);
  margin: 0 1em 0 1em
}
#preview-overlay {
  position: fixed;
  top: 100px;
  left: 40px;
  transform: translateX(-10%);
  width: 340px;
  height: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor:default;
}
#preview-overlay1 {
  position: fixed;
  top: 100px;
  left: 150px;
  transform: translateX(-10%);
  width: 340px;
  height: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor:default;
}
#preview-overlay2 {
  position: fixed;
  top: 100px;
  left: 260px;
  transform: translateX(-20%);
  width: 340px;
  height: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor:default;
}
#preview-overlay3 {
  position: fixed;
  top: 100px;
  left: 370px;
  transform: translateX(-30%);
  width: 340px;
  height: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor:default;
}
#preview-overlay4 {
  position: fixed;
  top: 100px;
  left: 480px;
  transform: translateX(-40%);
  width: 340px;
  height: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor:default;
}
#preview-overlay5 {
  position: fixed;
  top: 100px;
  left: 590px;
  transform: translateX(-50%);
  width: 340px;
  height: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor:default;
}
